---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Trang Chủ",
    path: "/",
  },
  {
    title: "Việc làm",
    path: "#",
    children: [
      { title: "Đã Có kinh Nghiệm", path: "/viec-lam" },
      { title: "Mới Tốt Nghiệp", path: "#" },
      { title: "Thực Tập", path: "#" },
    ],
  },
  {
    title: "Lí Do chọn Công Ty",
    path: "#",
    children: [
      { title: "Dịch vụ - Đối tác ", path: "/dich-vu-doi-tac" },
      {
        title: "Môi trường làm việc chuyên nghiệp",
        path: "/moi-truong-lam-viec",
      },
      { title: "Cơ hội đào tạo và phát triển sự nghiệp", path: "#" },
      { title: "Phúc lợi và thu nhập cạnh tranh", path: "#" },
      { title: "Hoạt động ngoại khóa phong phú", path: "#" },
    ],
  },
  {
    title: "Tin Tức",
    path: "/blog",
  },

  {
    title: "Thông tin công ty",
    path: "/thong-tin-cong-ty",
  },
];
---
<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-0 dark:bg-black">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="font-bold text-slate-800 dark:text-gray-300 ml-5"
            >Thuận Gió</span
          ><span class="text-slate-500"></span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          <li>
            
          </li>
          {
            menuitems.map((item, index) => (
              <>
                <div class="body">
                  {item.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuitems.length - 1}
                    />
                  )}
                </div>
                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900 dark:text-gray-300">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
          <li>
          <button id="moon" type="button" class="text-white bg-gray-500  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 hidden">
            <svg class="w-5 h-5" fill="none" stroke="white" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"></path>
            </svg>
          </button>
          
        </li>
        <li>
          <button id="sun" type="button" class="text-white dark:bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 hidden">
            <svg class="w-5 h-5" fill="none" stroke="black" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"></path>
            </svg>
          </button>
          
        </li>
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
<style>
  .body {
    z-index: 1;
  }
  @media screen and (min-width: 1024px) {
    header{
      position: fixed;
      background-color: white;
      z-index: 50;
      width: 100%;
      left: 0px;
      top: 0px;
      height: 4rem;
    }
  }
</style>
