---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Trang Chủ",
    path: "/",
  },
  {
    title: "Việc làm",
    path: "#",
    children: [
      { title: "Đã Có kinh Nghiệm", path: "/viec-lam" },
      { title: "Mới Tốt Nghiệp", path: "#" },
      { title: "Thực Tập", path: "#" },
    ],
  },
  {
    title: "Lí Do chọn Công Ty",
    path: "#",
    children: [
      { title: "Dịch vụ - Đối tác ", path: "/dich-vu-doi-tac" },
      {
        title: "Môi trường làm việc chuyên nghiệp",
        path: "/moi-truong-lam-viec",
      },
      { title: "Cơ hội đào tạo và phát triển sự nghiệp", path: "#" },
      { title: "Phúc lợi và thu nhập cạnh tranh", path: "#" },
      { title: "Hoạt động ngoại khóa phong phú", path: "#" },
    ],
  },
  {
    title: "Tin Tức",
    path: "/blog",
  },

  {
    title: "Thông tin công ty",
    path: "/thong-tin-cong-ty",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="font-bold text-slate-800 dark:text-gray-300"
            >Thuận Gió</span
          ><span class="text-slate-500"></span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          <li>
            
          </li>
          {
            menuitems.map((item, index) => (
              <>
                <div class="body">
                  {item.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuitems.length - 1}
                    />
                  )}
                </div>
                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900 dark:text-gray-300">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
          <label class="relative inline-flex items-center cursor-pointer mt-2 mb-3">
            <input type="checkbox" value="" class="sr-only peer check-mode"/>
            <div
              class="w-11 h-6  bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
            </div>
            <span
              class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300 mode-white"
              >Light</span>

              <span
              class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300 mode-dark"
              >Dark</span>
            
          </label>
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
<style>
  .body {
    z-index: 1;
  }
</style>
