---
import Link from "./ui/link.astro";
---

<div
  class="p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15697.783154120003!2d105.44195505!3d10.3861239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1675738667593!5m2!1svi!2s" width="1000" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="flex mt-5">
    <Link href="#" style="inverted"></Link>
  </div>
</div>
