---
import { Icon } from "astro-icon";
import Slider from "./slider.astro";
---

<section class="hero-section__section bg-slate-200 rounded-lg dark:bg-gray-800">
  <div class="hero-section__text text-xl text-center p-10">
    <h1 class="text-2xl font-bold dark:text-gray-300">Thuận Gió</h1>
    <p>
      <!-- <div
        class="clock relative flex items-center justify-center bg-gray dark:bg-black">
        <div class="numbers absolute">
          <span style="--i:0;"><b>12</b></span>
          <span style="--i:1;"><b>3</b></span>
          <span style="--i:2;"><b>6</b></span>
          <span style="--i:3;"><b>9</b></span>
          <div class="circle absolute" id="hr"><i></i></div>
          <div class="circle absolute" id="mn"><i></i></div>
          <div class="circle absolute" id="sc"><i></i></div>
        </div>
      </div> -->
    </p>
    <br />
    <div class="hero-section__section">
      <div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Get Started
        </a>
      </div>
      <div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Live Demo
        </a>
      </div>
    </div>
  </div>
  <div class="hero-section__image pl-6 pt-10 pb-10">
    <Slider />
  </div>
</section>

<style>
  .hero-section__section {
    margin: var(--section-margin) auto;
    min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }
  .hero-section__text {
    justify-self: center;
    max-width: 25rem;
  }
  .hero-btns__container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .hero-btns__container {
    margin-right: 1rem;
  }
  .hero-section__image {
    display: flex;
  }
  .hero-section__image img {
    width: 100%;
    height: 100%;
    max-height: 80vh;
    object-fit: cover;
    border-radius: var(--theme-shape-radius);
  }
  @media (max-width: 768px) {
    .hero-section__section {
      grid-template-columns: 1fr;
    }
  }
  .clock {
    width: 250px;
    height: 250px;
    border-radius: 50px;
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
      inset 15px 15px 10px rgba(255, 255, 255, 0.75),
      -15px -15px 35px rgba(255, 255, 255, 0.55),
      inset -1px -1px 10px rgba(0, 0, 0, 0.2);
  }
  .clock .numbers {
    inset: 35px;
    background: #152b4a;
    border-radius: 50%;
    box-shadow: 5px 5px 15px #152b4a55,
      inset 5px 5px 5px rgba(255, 255, 255, 0.55),
      -6px -6px 10px rgba(255, 255, 255, 1);
  }
  .clock::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #e91e63;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 0 0 1px #e91e63, 0 0 0 3px white,
      0 0 5px 5px rgba(0, 0, 0, 0.15);
  }
  .clock .numbers span {
    position: absolute;
    inset: 5px;
    text-align: center;
    color: white;
    font-size: 1.25em;
    transform: rotate(calc(90deg * var(--i)));
  }
  .clock .numbers span b {
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-90deg * var(--i)));
  }
  .clock .numbers::before {
    content: "";
    position: absolute;
    inset: 35px;
    background: linear-gradient(#2196f3, #e91e63);
    border-radius: 50%;
    animation: animation 2s linear infinite;
  }
  @keyframes animation {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .clock .numbers::after {
    content: "";
    position: absolute;
    inset: 38px;
    background: #152b4a;
    border-radius: 50%;
  }
  .clock .numbers .circle {
    inset: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 10;
  }
  .clock .numbers .circle i {
    position: absolute;
    width: 3px;
    height: 50%;
    background: white;
    transform-origin: bottom;
  }
  .clock .numbers .circle#hr i {
    transform: scaleY(0.3);
    width: 4px;
  }
  .clock .numbers .circle#mn i {
    transform: scaleY(0.45);
  }
  .clock .numbers .circle#sc i {
    transform: scaleY(0.55);
    width: 2px;
    background: #e91e63;
    box-shadow: 0 30px 0 #e91e63;
  }
  a{
    position: relative;
    display: inline-block;
    color: #2196f3;
    
    width: 120px;
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;
    transition: 0.2s;

    
}

a:hover{
    color: #255784;
    background: white;
    box-shadow:  0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

a span{
    position: absolute;
    display: block;

}

a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}


a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}


a span:nth-child(2){
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
</style>
<script>
  let hr = document.querySelector("#hr");
  let mn = document.querySelector("#mn");
  let sc = document.querySelector("#sc");

  setInterval(() => {
    let day = new Date();
    let hh = day.getHours() * 30;
    let mm = day.getMinutes() * 6;
    let ss = day.getSeconds() * 6;

    hr.style.transform = `rotateZ(${hh + mm / 12}deg)`;
    mn.style.transform = `rotateZ(${mm}deg)`;
    sc.style.transform = `rotateZ(${ss}deg)`;
  });
</script>
