---
import Container from "./Container.astro";
export interface props{
   title?:string,
    content:string,
    img:string,
}
const {img,content,title} =Astro.props;
---

<div id="solution">
    <Container>
      
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src={img}
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            {title}
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
           {content}
          </p>
          
        </div>
      </div>
    </Container>
</div>
